<div class="social-shares">
    <a class="btn" href="https://twitter.com/TRADcoinMX" target="_blank">
        <i class="fab fa-twitter"></i>
    </a>

    <a class="btn" href="https://www.facebook.com/TradCoinNoticias/" target="_blank">
        <i class="fab fa-facebook-f"></i>
    </a>

    <a class="btn" href="https://t.me/joinchat/GNaQ-kXJAY06i0Q1c_eVsg" target="_blank">
        <i class="fab fa-telegram-plane"></i>
    </a>

    <a class="btn" href="https://t.me/AlertTrad" target="_blank">
        <i class="fab fa-telegram"></i>
    </a>

    <a class="btn" href="https://www.youtube.com/channel/UCLccu1tCBs-FlY9NUFs8E4g" target="_blank">
        <i class="fab fa-youtube"></i>
    </a>

    <a class="btn" href="https://www.instagram.com/tradcoin/" target="_blank">
        <i class="fab fa-instagram"></i>
    </a>
</div>